header {
    background-color: #003366;
    color: white;
    padding: 20px;
}

h1, p{
    margin-bottom: 5px;
    text-align: center;
}

main {
    padding: 20px;
}

section.bandeiras {
    background-color: white;
    margin: 20px auto;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

section.bandeiras h2 {
    color: #003366;
    margin-bottom: 15px;
}

.box-bandeiras {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.box-bandeiras img {
    width: 250px;
    height: 166px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}